*{
    margin: 0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: row;
}
.container-left{
width: 180px;
font-size: 12px;
}
.my_fanke{
    height: 28px;
    line-height: 28px;
    border: 1px solid #c8c8c8;
    margin-bottom: 10px;
}
.my_fanke h2{
    background: url(http://i.vanclimg.com/my/01.jpg) no-repeat 25px center;
    background-color: red;
    padding-left: 46px;
    display: block;
    font-weight: bold;
    color: #656565;
}
#left-container{
    border:1px solid #ccc;
}
#left-container ul {
    list-style: none;
}
#left-container ul li a {
    text-decoration: none;
}
.left-li-type2{
    text-decoration: none;
    height: 24px;
    padding: 0 0 0 30px;
    line-height: 24px;
    overflow: hidden;
    display: block;
}
.left-li-type2 a{
    font-size: 12px;
    color:black;
    font-family: "宋体";
}
.left-li-type1{
    text-decoration: none;
    background: url(http://i.vanclimg.com/my/02.jpg) repeat-x;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
#container-right{
 width: 1250px;
 margin-left: 20px;
}

#tab li:first-child+li,#content2{
	background-color: #ff00cc;
}
#tab li:first-child+li+li,#content3{
	background-color: #00ccff;
}
.status{
display: none;
}
.safe{
    width: 1000px;
    border: 1px solid #ffeec4;
    background: #fefef1;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 10px;
    display: flex;
}
.safe-status{
    width: 136px;
    height: 15px;
    border: 1px solid #cfcfcf;
    margin-left: 20px;
}
.safe-status a{
    width: 44px;
    height: 12px;
    font-size: 12px;
    font-family: 宋体;
    color: #fff;
    text-align: center;
    background: #c8c8c8;
    margin: 1px 0px 1px 1px;
    display: inline-block;
}
.safe-span1{
 background: url(http://i.vanclimg.com/my/2012/accountsafe/securitysprites.png) no-repeat left top;
}
.safe_yz{
    list-style-type: none;
    font-size: 15px;
}
.safe_yz li{float: left;margin-left: 10px; line-height: 15px;}
.safe_yz li a{text-decoration: none;}
.my_count{margin:30px 0 0 20px; display: flex;}
.my_pic{
    width: 90px;
    float: left;
    text-align: center;
}

.my_txt{
    margin-left: 30px;
    font-size: 10px;
}
.order-table ul{
    width: 329px;
    list-style-type: none;
}
.order-table ul .bigli{
    width: 460px;
    border-top: 1px dotted #999;
}
.order-table ul li {
    height: 36px;
    float: left;
    padding-left: 5px;
    line-height: 36px;
    border: 1px dotted #999;
    border-top:none;
    width: 308px;
    padding-left: 20px;
    color: #333;
}
.wx_pic{
    margin-left: 190px;
}
